# Umgebungsvariablen
.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE-spezifische Dateien
.idea/
.vscode/
*.swp
*.swo

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db 